html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

body {
  background-color: rgb(185, 183, 181);
  background-image: url(../img/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
